body{
    background-image: url("bg2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 18px;
}
.input{
    background-color: transparent;
    font-size: 18px;
    width: 280px;
    height: 30px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Century Gothic';
    letter-spacing: 2px;
  }
  
  .input:focus{
    color: white;
    background-color: transparent;
    outline-color: #E0B0FF;
    box-shadow: 0px 0px 50px #ff0278;
    transition: 1s;
    letter-spacing: 1px;
  }
   
/* submit button */
.submit_btn{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
  }
  
.submit_btn{
  font-family: 'Century Gothic';
  text-decoration: none;
  display: flex;
  padding: 1px 15px;
  width: 90px;
  height: 40px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 40px;
  color: #fff;
  background: #2b1055;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
  }
 
.submit_btn:hover{
    color: #fff;
    background: #da59d5;
  }

  /*welcome image*/
#welcome{
  top: 50%;
  left: 50%;
  display: auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
}

#wlcm_text{
  font-family: 'Century Gothic';
  top: 35%;
  left: 50%;
  font-size: 30px;
  font-weight: bolder;
  color:#fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
}

 /*username*/
#wlcmvalue{
  font-family: 'Century Gothic';
  top: 48%;
  left: 50%;
  font-size: 50px;
  font-weight: bold;
  color:#2b1055;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  letter-spacing: 3px;
  cursor: pointer;
}

#wlcmvalue:hover{
  color:#2b1055;
}

#divider{
  font-family: 'Century Gothic';
  top: 50%;
  left: 50%;
  font-size: 50px;
  font-weight: bold;
  color:#de00d7;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
}

#luck_text{
  font-family: 'Century Gothic';
  top: 65%;
  left: 50%;
  font-size: 18px;
  color:#fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
}

 /*start quiz*/
.start-button ul{
  display: flex;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

.start-button ul li{
  list-style-type: none;
}

.start-button ul li a{
  font-family: 'Century Gothic';
  letter-spacing: 1px;
  text-decoration: none;
  margin: 15px 5px;
  font-weight: 500;
  top: 75%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 5px 15px;
  width: 170px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 40px;
  color: #fff;
  background: #2b1055;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.start-button ul li a:hover{
  background: #da59d5;
  color: #fff;
}

  /* STANDBYYYYYYY
  .submit_btn ul li{
      list-style-type: none;
  }
  
  .submit_btn ul li a{
      text-decoration: none;
      display: flex;
      padding: 1px 15px;
      height: 30px;
      font-size: 17px;
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 40px;
      color: #fff;
      background: #7a51bc;
      border: 1px solid transparent;
      transition: all 0.3s ease;
      align-items: center;
      justify-content: center;
  }
  
  .submit_btn ul li a:hover{
      color: #fff;
      background: #da59d5;
  }
 */



 